/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: #000 1px dashed;
    outline-offset: 5px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN SECTION */
.main {
    flex-grow: 1;
}