/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROOPS */
:root {
    --text-color: #333;
    --accent-color-green: #0a775f;
    --accent-color-green-08: rgba(10, 120, 96, 0.8);
    --accent-color-green-06: rgba(10, 120, 96, 0.6);
    --accent-color-burlywood: #c99b67;
    --accent-color-burlywood-08: rgb(201, 155, 103, 0.8);
    --accent-color-burlywood-06: rgb(201, 155, 103, 0.6);
    --outline-color: var(--accent-color-green);
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: var(--outline-color) 1px dashed;
    outline-offset: 3px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: "Roboto", 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* BUTTON STYLES */
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}
.button-green {
    background-color: var(--accent-color-green);
    color: #fff;
}
.button-burlywood {
    background-color: var(--accent-color-burlywood);
    color: #fff;
}


/* HEADER AND HERO WRAPPER STYLES */
.header-and-hero-wrapper {
    background-color: burlywood;
    background-image: url("../images/burlywood-bg.jpg");
}

/* SITE HEADER STYLES */
.site-header {
    padding: 40px 0px;
}
.site-header-container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header-logo {
    text-decoration: none;
    display: flex;
}
.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}
/* SITENAV STYLES */
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav-item:not(:last-child) {
    margin-right: 40px;
}
.sitenav-link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

/* HERO SECTION STYLES */
.hero-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.hero-text-wrapper {
    width: 100%;
    max-width: 730px;
    padding: 116px 116px 100px 150px;
}
.hero-title {
    width: 447px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
}
.hero-text {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 34px;
}
.hero-img {
    width: 710px;
    height: 696px;
    object-fit: cover;
}




/* RETINA BACKGROUND IMG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header-and-hero-wrapper {
        background-image: url("../images/burlywood-bg@2x.jpg");
    }
}
